

@font-face {
  font-family: Signifier;
  src: url(css/Signifier-test.woff);
}

@font-face {
  font-family: Skanaus;
  src: url(css/Skanaus-Regular.ttf);
}

@font-face {
  font-family: Skanaus;
  src: url(css/SuisseIntl-Medium.otf);
}






/*
.wall {
  max-width: 100%;
}
*/

/*
.walloffear {
max-width: 100%;

padding-top: 10%;
padding-left: 40%;
}
.walloffear.image{
margin: auto;
position: fixed;
left: 50%;
transform: translate(-50%, -50%);
}
*/


body {  
/*  height: 500%;*/
  overflow-x: hidden;
  margin-left: 1em;
    margin-right: 1em;
    
 
}

.firsttext {
    margin-top:60%;
}

#container
{
    height:2000px;
    margin-top: 40%;
}

#container DIV
{ 
    font-family: Helvetica;
    font-weight: 550;
    font-size: 1.3em;
    margin-top:4px; 
    padding-top:80px; 
    text-align: center;
/*    background-color:lightgreen; */
}

.hideme
{
    opacity:0;
}



.title {
  font-family: Skanaus-;
  font-size: 2em;
  max-width: 100%;
  text-align: center;
}


.ero{
    margin-top: 450%;
    
}
.ero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}


.faces img{
    padding-top: 0.3em;
    max-width: 100%;
    height: auto;
}
/*
.Abstract{
font-family: Signifier;
font-size: 1.2em;
color: black;
max-width: 100%;
text-align: center;
padding-left: 10%;
padding-right: 10%;
 padding-top: 12%;
    
    
}

.Introduction{
  font-family: Signifier;
    font-size: 1.2em;
    max-width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 12%;
    
    
}
*/

/*
.background {
  background-color: blue;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px); 
  height: 100vh;
	width: 50%;
}
*/
.terminology {
  padding-top: 5%;
}
.firstchapter {
  font-family: Signifier;
  font-size: 1.2em;
  color: black;
  max-width: 100%;
}

.secondchapter {
  font-family: Signifier;
  font-size: 1.2em;
  color: black;
  max-width: 100%;
  text-align: left;
}

.thirdchapter {
  font-family: Signifier;
  font-size: 1.2em;
  color: black;
  max-width: 100%;
  text-align: left;
}

.fourthchapter {
  font-family: Signifier;
  font-size: 1.2em;
  color: black;
  max-width: 100%;
  text-align: left;
}

/*
div
{border-radius:50%;
border:3px solid #09f;
width:150px;
height:150px;

*/


.green{
    color: lawngreen;
    text-decoration: none;
}

.blue{
    color: blue;
    text-decoration: none;
    
    
}




.red{
    color:red;
    text-decoration: none;
    
    
}



.category,
.title{
	position: -webkit-sticky;
	position: sticky;
	height: 50px;
}
.category {
	top: 0;
	font: 41px/57px "Titan One";
	color: #f83d23;
	text-shadow: 5px 5px 0 dodgerblue;
}
.title {
	top: 0;
	font: 50px/60px "Crimson Text";
	color: #fdef67;
	text-shadow: 2px 2px 0 #f83d23;
	background-color: dodgerblue;
	margin: 0;
}



div.sticky {
  position: -webkit-sticky;
  position: sticky;
/*    background:white;*/
  top: 3vh;
  height: 50px;
/*  background-color:rgba(0, 0, 255, 0.3);*/
  padding: 5px;
left: 50%;
/*  z-index:1;*/
}




/*
a {
  text-decoration: none;
}
*/

/*Iphone 6, 7, 8 */
/* @media screen and (max-width: 667px) Iphone 10 @media screen and (max-width: 812px); */

#nav-image {
  position: relative;
  margin-top: -20px;
  width: 90vw;
  height: 90vw;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
/*  margin-right: 50%;*/
  transform: translate3d(-50%, -50%, 0);
}
